@charset "UTF-8";

// Mixins
@import "vendor/materialize";

// Correction for sticky footer
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

// Correction for sticky footer
main {
    flex: 1 0 auto;
}


.hero {
    height: 100vh;
    padding: 0;

    background: url('../img/union-softblur.jpg') no-repeat 50% 50% fixed;
    background-size: cover;
    color: #FFF;

    .description-blurb {
        position: absolute;
        bottom: 0;
        background: #FFF;
        color: #000;
        width: 100%;
    }
}

.description p {
    margin-top: 0;
}

.rainbow {
    font-size: 0;

    div {
        display: inline-block;
        width: 16%;
        height: 6px;

        // Expand the first and last colors to fill the screen
        &:first-child, &:last-child {
            width: 18%;
        }
    }
}

// Custom flow-text rule for flowing larger headers
.flow-text.large {
    font-weight: 300;
    $i: 0;
    @while $i <= $intervals {
        @media only screen and (min-width : 360 + ($i * $interval-size)) {
            font-size: 2rem * (1 + (.02 * $i));
        }
        $i: $i + 1;
    }

    // Handle below 360px screen
    @media only screen and (max-width: 360px) {
        font-size: 2rem;
    }
}

.next-meeting {
    .date, .location {
        border-bottom: 1px dotted color('osu-blue', 'darken-2');
        color: color('osu-blue', 'darken-2');
    }

    // Don't let date wrap (looks crappy)
    .date {
        white-space: nowrap;
    }

    &.inverted {
        color: #FFF;

        .date, .location {
            border-bottom: 1px dotted color('osu-blue', 'lighten-2');
            color: color('osu-blue', 'lighten-2');
        }
    }
}

// Temp CSS for the placeholder nav bar. Will be replaced with the actual asset set.
.osu-navbar {
    background: #333 url(http://brand.osu.edu/assets/site/osu_navbar/images/white/bg-navbar_red.png) center bottom repeat-x;
    height: 42px;
    padding: 10px 0;

    a.logo {
        height: 16px;
        width: 80px;
        display: block;
        text-indent: -9999px;
        background: url(http://brand.osu.edu/assets/site/osu_navbar/images/white/osu_name.png) 0 2px no-repeat;
    }

    div > a { 
        color: white;
        padding: 0 0.5em;
        font-size: 0.85em;

        &:hover, &:active {
            text-decoration: underline;
        }
    }
}


// Footer style adjustments (OSU branding)
footer.page-footer {
    background: #333;
    color: #FFF;
    margin-top: 0;
    padding: 2.5em 0;

    a {
        color: #FFF;
        text-decoration: underline;
    }

    p {
        margin: 0;
        font-size: 0.85em;
    }

    li {
        float: left;
        padding: 0;

        a {
            padding: 0 0.5em;
        }
    }

    .row {
        margin: 0;
    }
}

// Mockup for an embedded google map of the next meeting
.map-mockup {
    background: url('../img/directions-mockup.png') no-repeat 50% 50%;
    background-size: cover;

    min-height: 400px;
    padding: 2em;
    margin-top: 40px;

    img {
        float: left;
    }

}

// Reflow rows to have top margin instead of bottom
// Works a bit better when rendered under a hero 
.row {
    margin-bottom: 0;
    margin-top: 20px;
}

$box-width: 350px !default;
$box-height: 70px !default;
$box-depth: 70px !default;

.sign-up-box-container {
    width: $box-width;
    height: $box-height;
    position: relative;
    margin: 0 auto;
    -webkit-perspective: 1200px;
       -moz-perspective: 1200px;
         -o-perspective: 1200px;
            perspective: 1200px;

    .sign-up-box {
        width: 100%;
        height: 100%;
        position: absolute;
          -webkit-transform-style: preserve-3d;
             -moz-transform-style: preserve-3d;
               -o-transform-style: preserve-3d;
                  transform-style: preserve-3d;
          -webkit-transition: -webkit-transform 1s;
             -moz-transition: -moz-transform 1s;
               -o-transition: -o-transform 1s;
                  transition: transform 1s;

        .side {
            display: block;
            position: absolute;
            line-height: $box-height;
            font-size: 2rem;
            text-align: center;
            color: white;
            margin: 0;

            -webkit-backface-visibility: hidden;
               -moz-backface-visibility: hidden;
                 -o-backface-visibility: hidden;
                    backface-visibility: hidden;

            border: 2px solid #000;
            border-radius: 10px;
            color: #000;
        }

        .front,
        .back {
          width: $box-width;
          height: $box-height;
        }

        .right,
        .left {
            width: $box-depth;
            height: $box-height;
            left: $box-width/2 - $box-depth/2;
        }

        .top,
        .bottom {
            width: $box-width;
            height: $box-depth;
            top: 0;
            line-height: $box-height;
        }

        .bottom {
            border-color: color('green', 'lighten-1') !important;
            color: color('green', 'lighten-1') !important;
        }

        // Email input
        input {
            background: none;
            border: none;
            line-height: 70px;
            outline: none;
            width: 270px;
        }

        // Submit button (for those who don't want to hit enter)
        button {
            float: right;
            width: 70px;
            height: 70px;
            margin-top: -2px;
            margin-right: -2px;
            border-radius: 8px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 0;
            background-color: color('green', 'base');
            border-bottom: 2px solid color('green', 'darken-2');
            box-shadow: none;
        }

        .front  {
            @include transform(translateZ( $box-depth/2 ));
        }
        .back   {
            @include transform(rotateX( -180deg ) translateZ(  $box-depth/2 ));
        }
        .right {
            @include transform(rotateY(   90deg ) translateZ( $box-width/2 ));
        }
        .left {
            @include transform(rotateY(  -90deg ) translateZ( $box-width/2 ));
        }
        .top {
            @include transform(rotateX(   90deg ) translateZ( $box-height/2 ));
        }
        .bottom {
            @include transform(rotateX(  -90deg ) translateZ( $box-height/2 ));
        }

        &.show-front {
            @include transform(translateZ(  -$box-depth/2 ));
        }
        &.show-back {
            @include transform(translateZ( -$box-depth/2 ) rotateX( -180deg ));
        }
        &.show-right {
            @include transform(translateZ( -$box-width/2 ) rotateY(  -90deg ));
        }
        &.show-left {
            @include transform(translateZ( -$box-width/2 ) rotateY(   90deg ));
        }
        &.show-top {
            @include transform(translateZ( -$box-height/2 ) rotateX(  -90deg ));
        }
        &.show-bottom {
            @include transform(translateZ( -$box-height/2 ) rotateX(   90deg ));
        }

        &.inverted {
            .side {
                border: 2px solid #FFF;
                color: #FFF;
            }
        }
    }
}

.modal p {
    padding: 0.5em 0;
}
