@charset "UTF-8";

// Mixins
@import "vendor/materialize";

// Correction for sticky footer
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

// Correction for sticky footer
main {
    flex: 1 0 auto;
}


i.material-icons {
    vertical-align: top;
}

.hero {
    height: 100vh;
    // Offset upward so we maintain fullscreen height, but overlap OSU bar
    margin-top: -42px;
    padding-top: 42px;

    background: url('../img/union-softblur.jpg') no-repeat 50% 50% fixed;
    background-size: cover;
    color: #FFF;

    .description-blurb {
        position: absolute;
        bottom: 0;
        background: #FFF;
        color: #000;
        width: 100%;
    }
}

.description p {
    margin-top: 0;
}

.rainbow {
    font-size: 0;

    div {
        display: inline-block;
        width: 16%;
        height: 6px;

        // Expand the first and last colors to fill the screen
        &:first-child, &:last-child {
            width: 18%;
        }
    }
}

// Custom flow-text rule for flowing larger headers
.flow-text.large {
    font-weight: 300;
    $i: 0;
    @while $i <= $intervals {
        @media only screen and (min-width : 360 + ($i * $interval-size)) {
            font-size: 2rem * (1 + (.02 * $i));
        }
        $i: $i + 1;
    }

    // Handle below 360px screen
    @media only screen and (max-width: 360px) {
        font-size: 2rem;
    }
}

.next-meeting {
    .date, .location {
        border-bottom: 1px dotted color('osu-blue', 'darken-2');
        color: color('osu-blue', 'darken-2');
    }

    // Don't let date wrap (looks crappy)
    .date {
        white-space: nowrap;
    }

    &.inverted {
        color: #FFF;

        .date, .location {
            border-bottom: 1px dotted color('osu-blue', 'lighten-2');
            color: color('osu-blue', 'lighten-2');
        }
    }
}

// Temp CSS for the placeholder nav bar. Will be replaced with the actual asset set.
.osu-navbar {
    background: #333 url(http://brand.osu.edu/assets/site/osu_navbar/images/white/bg-navbar_red.png) center bottom repeat-x;
    height: 42px;
    padding: 10px 0;
    z-index: 1000;

    a.logo {
        height: 16px;
        width: 80px;
        display: block;
        text-indent: -9999px;
        background: url(http://brand.osu.edu/assets/site/osu_navbar/images/white/osu_name.png) 0 2px no-repeat;
    }

    div > a { 
        color: white;
        padding: 0 0.5em;
        font-size: 0.85em;

        &:hover, &:active {
            text-decoration: underline;
        }
    }
}


// Footer style adjustments (OSU branding)
footer {
    background: #333;
    color: #FFF;
    margin-top: 4rem;
    padding-bottom: 2.5em;

    .rainbow {
        margin-bottom: 2.5rem;
    }

    a {
        color: #FFF;
        text-decoration: underline;
    }

    p {
        margin: 0;
        font-size: 0.85em;
    }

    li {
        float: left;
        padding: 0;

        a {
            padding: 0 0.5em;
        }
    }

    .row {
        margin: 0;
    }
}

@media #{$small-and-down} {
    // OSU footer banner doesn't fit well on small devices
    footer img {
        width: 90%;
        height: auto;
    }
}


// Mockup for an embedded google map of the next meeting
.map-mockup {
    background: url('../img/directions-mockup.png') no-repeat 50% 50%;
    background-size: cover;

    min-height: 400px;
    padding: 2em;
    margin-top: 40px;

    img {
        float: left;
    }

}

// Reflow rows to have top margin instead of bottom
// Works a bit better when rendered under a hero 
.row {
    margin-bottom: 0;
    margin-top: 20px;
}

.modal p {
    padding: 0.5em 0;
}

.leadership {
    hr {
        margin: 0 3rem;
        margin-top: 3rem;
    }

    .row {
        margin: 0;
    }

    h4 {
        margin-top: 3rem;
    }

    h5 {
        font-weight: 300;
    }

    a {
        line-height: 24px;
    }

    // Alignment corrections because material icons are broke as shit
    i.material-icons {
        vertical-align: middle;
        padding: 0 0.25em;
    }
}

// Better responsive behavior for the hero on small screens
@media #{$small-and-down}, only screen and (max-height : 700px) {
    .hero {
        height: initial;

        .description-blurb {
            position: initial;
            bottom: initial;
            margin-top: 3em;
        }
    }
}

.editable[contenteditable] {
    border: 2px solid red !important;
}



.sign-up {
    width: 400px;
    margin: 0 auto;
    margin-top: 1em;

    .input-field {
        width: 70%;
        display: inline-block;
        margin-right: 2em;
        margin-top: 0;

        input {
            font-size: 1.5em;
            border: 1px solid white !important;
            border-radius: 4px;
            padding: 0 0.5em;
            box-shadow: none !important;
        }

        label {
            font-size: 1.5em;
            color: #FFF;
            cursor: pointer;
            top: 0.5rem;

            &.active {
                font-size: 1.25em;
                top: 0.5rem;
                color: #FFF;
            }
        }

        input[type=email]:focus:not([readonly]) + label {
            color: #FFF;
        }

        button {
            position: absolute;
            // TODO: This coordinate space is fucked. Fix.
            top: 5px;
            right: -20px;
        }
    }

    img {
        height: 3em;
        width: auto;
        vertical-align: top;
    }

    span.thanks {
        font-size: 2em;
        padding: 0 0.5em;
        color: color('green', 'lighten-1');
    }

    // Inverted variant for the footer
    &.inverted {
        .input-field {
            input {
                border: 1px solid $off-black !important;
            }

            label {
                color: $off-black;
                &.active {
                    color: $off-black;
                }
            }
            
            input[type=email]:focus:not([readonly]) + label {
                color: $off-black;
            }
        }
    }
}

@media #{$small-and-down} {
    .sign-up {
        width: 100%;
    }
}
