@charset "UTF-8";

// Mixins
@import "vendor/materialize";

// Correction for sticky footer
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

// Correction for sticky footer
main {
    flex: 1 0 auto;
}


.hero {
    min-height: 600px;
    height: auto;
    background: url('../img/union-softblur.jpg') no-repeat 50% 50% fixed;
    background-size: cover;
    color: #FFF;
}

.rainbow {
    font-size: 0;

    div {
        display: inline-block;
        width: 16%;
        height: 6px;

        &.red {
            width: 18%;
        }
        &.purple {
            width: 18%;
        }
    }
}

// Custom flow-text rule for flowing larger headers
.flow-text.large {
    font-weight: 300;
    $i: 0;
    @while $i <= $intervals {
        @media only screen and (min-width : 360 + ($i * $interval-size)) {
            font-size: 2rem * (1 + (.02 * $i));
        }
        $i: $i + 1;
    }

    // Handle below 360px screen
    @media only screen and (max-width: 360px) {
        font-size: 2rem;
    }
}

.next-meeting {
    padding-top: 2em;

    .date, .location {
        border-bottom: 1px dotted color('blue', 'lighten-1');
        color: color('blue', 'lighten-2');
    }
}

// Screwing around with putting buttons inside of input labels
// (controlling button visibility based on input active)
// Technically makes more sense if we just do :active for the parent
// input so we don't have to be bound on the label...
label {
    width: 100%;
    text-align: left;
}

label .btn {
    position: absolute;
    right: 2em;
    top: 1em;
    font-size: 1rem;
    opacity: 0;
}

label.active .btn {
    opacity: 1;
}


// Temp content hacks for mailing list input labels.
// I'll eventually be replacing the entire thing with something
// a little more interesting.

label[for="email2"]:before, label[for="email"]:before {
    content: 'Click here to sign up for our mailing list';
}

label[for="email2"].active:before, label[for="email"].active:before {
    content: 'Enter your email and click sign up';
}


// Temp CSS for the placeholder nav bar. Will be replaced with the actual asset set.
.osu-navbar {
    background: #333 url(http://brand.osu.edu/assets/site/osu_navbar/images/white/bg-navbar_red.png) center bottom repeat-x;
    height: 42px;
    padding: 12px 0;
}

.osu-navbar a {
    height: 16px;
    width: 80px;
    display: block;
    text-indent: -9999px;
    background: url(http://brand.osu.edu/assets/site/osu_navbar/images/white/osu_name.png) 0 0 no-repeat;
}


// Footer style adjustments (OSU branding)
footer.page-footer {
    background: #333;
    color: #FFF;

    a {
        color: #FFF;
        text-decoration: underline;
    }

    p {
        margin: 0;
        font-size: 0.85em;
    }

    li {
        float: left;
        padding: 0;

        a {
            padding: 0 0.5em;
        }
    }
}
