<div class="card listserv">
    <div class="card-content">
        <h1>Manage Subscribers</h1>

        <form id="listserv-add">
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input id="listserv-email" type="text" name="email">
                <label for="listserv-email">Add a new email</label>
                <button class="btn green" type="submit" name="submit">Add</button>
            </div>
        </form>

        <div class="input-field">
            <i class="material-icons prefix">search</i>
            <input id="listserv-search" type="text">
            <label for="listserv-search">Search for an email</label>
        </div>
        <table id="listserv">
            <thead>
                <tr>
                    <th width="30px"></th>
                    <th>Email</th>
                    <th>Added</th>
                </tr>
            </thead>
            <tbody>
                {% for user in listserv.getEmails() %}
                <tr>
                    <td class="remove"><a href="#" class="unsubscribe"><i class="material-icons red-text">remove_circle</i></a></td>
                    <td class="email" data-uuid="{{ user.uuid }}">{{ user.email }}</td>
                    <td class="date" data-order="{{ user.date|date('Ymd') }}">{{ user.date|date('m/d/Y')}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
