{% extends 'layout.html.j2' %}

{% block content %}

<div class="container">
    
    <h1 class="center">403</h1>
    <h3 class="center">Forbidden! ):&lt;</h3>
    <p class="center"><a href="/">(back to the front page)</a></p>

    {% if debug %}
    <h5>Debug</h5>
    <pre>{{ e }}</pre>
    {% endif %}
</div>

{% endblock %}
